@model Księgarnia.Models.Article

@{
    ViewData["Title"] = "Details";
}


<strong>@Html.DisplayFor(model => model.Name)</strong>
<img src="@Url.Content(Model.FilePath)" asp-append-version="true" width="400" height="450" id="hp" />
<div>
    <p>
        @if (Model.CategoryId == 1)
        {
            @Html.DisplayFor(model => model.Author)
        } 
    </p>
    <hr />
    
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detail)
        </dd>
        @if (Model.CategoryId == 1)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Publisher)
            </dd>
        } else {
        
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Producer)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Producer)
            </dd>
        }
        
        
    </dl>
</div>




